.container-23 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  font-family: "myfont";
}
.container-23-1 h2 {
  color: red;
  font-size: 30px;
}
.container-23-1 {
  background-color: rgba(15, 15, 15, 0.215);
  width: 30%;
  min-height: 50vh;
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  border: solid 1px rgba(255, 255, 255, 0.277);
  outline: none;
  border-radius: 5px;
  align-items: center;
  gap: 40px;
}
.container-23-1 form {
  justify-content: center;
  color: white;
  display: flex;
  flex-direction: column;
}
.container-23-1 form label{
  margin-top:10px ;
}
.container-23-1 form input {
  width: 20vw;
  height: 50px;
  border: solid rgba(255, 255, 255, 0.223) 1px;
  outline: none;
  background-color: rgb(19, 19, 19);
color: white;
  padding-left: 10px;
  margin-top:10px ;
  border-radius: 5px;
}

.container-23-1 form button {
  width: 150px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-top: 10px;
  cursor: pointer;
  background-color: red;
  font-family: "myfont";
  height: 40px;
  font-size:17px;
font-weight: bold;
}
