.container-19 {
  color: white;
  display: flex;
  scroll-behavior: smooth;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container-19-1{
    font-size: 20px;
    font-family: "myfont";
    margin-top: 30px;
    padding: 20px;
}

.container-19-2{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 10px 15px;
    padding: 10px 10px;
}
@media (max-width:600px) {
    .container-19-2{
        margin-top: 20px;
    gap: 10px 30px;
    width: 80%;
    padding: 10px 0px 0px 30px;
    }
}


